.mySwiper {
    margin-top: 4rem;
}

.slider__img {
    mask-image: linear-gradient(to right, rgba(250, 17, 17, 0.932), transparent);
    z-index: -1;
}



.location__icon {
    font-size: 1rem;
    /* margin-left: 0.5rem; */
}

small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7rem;
}

.hero__slide {
    position: relative;
}

.hero__overlay-text {
    position: absolute;
    z-index: 20;
    top: 7rem;
    left: 5%;
    width: 29rem;
}

.hero__overlay-text h1 {
    font-size: 4rem;
    color: var(--color-text1);
    margin-bottom: 2rem;
}

.hero__overlay-text p {
    color: var(--color-paragraph);
    width: 60%;
    font-weight: 700;
}