nav {
    display: grid;
    place-items: center;
    height: 4rem;
    background-color: var(--color-bg1);
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.nav__links a {
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.nav__links a:hover {
    background-color: var(--color-bg2);
}

.menu__btn {
    cursor: pointer;
}

/*====== Currency ======*/

.currency {
    position: relative;
}

.nav__btn {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 0.3rem;
    padding: 0.2rem 0.4rem;
    transition: var(--transition);
}

.nav__btn:hover {
    border-radius: 1rem;
    background-color: var(--color-bg2);
}

.currency__pop {
    position: absolute;
    padding: 0.6rem;
    background-color: var(--color-bg1);
    border-radius: 2rem;
    display: none;

}


.currency__pop ul li button {
    display: flex;
}

/*====== Language ======*/

.language {
    position: relative;
}

.nav__btn img {
    width: 1.5rem;

}


/*====== Check In ======*/

.checkin {
    position: relative;
}

/* .check__modal {
    position: absolute;
    display: none;
} */