nav {
    display: grid;
    place-items: center;
    height: 4rem;
    background-color: var(--color-bg1);
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.nav__links a {
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.nav__links a:hover {
    background-color: var(--color-bg2);
}

.menu__btn {
    cursor: pointer;
}

.nav__li {
    position: relative;
}

/* .nav__list {
    position: absolute;
    top: 5rem;
    background-color: red;
} */