.checkin__modal:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: none;
}

.checkin__modal {
    position: absolute;
    top: 3.8rem;
    display: none;
}

.checkin__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: none;
}