*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {

  /*======== Colors ========*/
  --color-bg1: #FEFBF2;
  --color-bg1: #fff5d9;
  --color-bg2: #FCF5EB;
  --color-bg2: #dfd8cf;
  --color-bg3: rgb(23, 57, 55);
  --color-bg4: #EAECE2;
  --color-search: #F2BD23;
  --color-text1: #292929;
  --color-text2: #0c1d1c;
  --color-paragraph: rgb(35, 37, 37);

  /*========== Devices Width =======*/
  --lg-container-width: 90%;
  --md-container-width: 92%;
  --sm-container-width: 98%;

  /*========= Transition ========*/

  --transition: all 400ms ease;

}

body {
  font-family: Mulish, sans-serif;
  line-height: 1.1;
  overflow-x: hidden;

}

.container {
  margin: 0 auto;
  width: var(--lg-container-width);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

p {
  line-height: 1.5;
}