*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {

  /*======== Colors ========*/
  --color-bg1: #FEFBF2;
  --color-bg1: #fff5d9;
  --color-bg2: #FCF5EB;
  --color-bg2: #dfd8cf;
  --color-bg3: rgb(28, 68, 65);
  --color-bg4: #EAECE2;
  --color-search: #F2BD23;
  --color-text1: #292929;
  --color-text2: #0c1d1c;
  --color-paragraph: rgb(35, 37, 37);

  /*========== Devices Width =======*/
  --lg-container-width: 90%;
  --md-container-width: 92%;
  --sm-container-width: 98%;

  /*========= Transition ========*/

  --transition: all 400ms ease;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-bg3);
}

body {
  font-family: Mulish, sans-serif;
  line-height: 1.1;
  overflow-x: hidden;

}

.container {
  margin: 0 auto;
  width: var(--lg-container-width);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

section {
  padding: 3rem 0;
}

p {
  line-height: 1.6;
  font-weight: 600;
  color: var(--color-paragraph);
}

.img__icon {
  width: 1.5rem;
}

@media screen and (max-width:1024px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }
}